.slogan{
    @include flex($ai: flex-start);
    gap: 30px;
    &__main{
        max-width: 600px;
        font-size: 3rem;
        color: #ffffff;
    }
    &__link{
        font-size: 1.5rem;
        color: #FFBDBD;
        &:hover{
            color: #ffffff;
        }
    }
}
@media screen and (max-width: 992px) {
    .slogan{
        &__main{
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 768px) {
    .slogan{
        &__main{
            max-width: 300px;
            font-size: 2rem;
        }
        &__link{
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 576px) {
  .slogan{
        &__main{
            font-size: 2rem;
        }
        &__link{
            font-size: 1rem;
        }
    }
}