.social-panel-mini{
    gap: 10px;
    &-item{
        @include flex($dir: row, $jc: flex-start);
        gap: 20px;
        &__img{
            width: 24px;
        }
        &__title{
            text-transform: capitalize;
        }
    }
}
.social-panel-mini_row{
    @include flex($dir: row, $jc: flex-start);
}
.social-panel-mini_column{
    @include flex();
}