*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li{
    list-style: none;
}

a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
}