.app-header{
    @include  flex($dir: row, $jc: space-between);
    height: 100px;
    width: 100%;
    .use-box{
        @include  flex($dir: row);
        gap: 250px;
    }
}
@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 992px) {
   .app-header{
        .use-box{
            gap: 150px;
        }
    }
}

@media screen and (max-width: 768px) {
    .app-header{
        .use-box{
            .social-panel-mini{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
   
}