.app-nav{
    position: relative;
    &-box{
        position: absolute;
        top: -30px;
        right: -20px;
        @include flex($dir: row, $jc: space-around);
        height: 100vh;
        width: 80vw;
        background-color: #ffffff;
    }
    &-items{
        @include flex();
        gap: 20px;
    }
}

.hamburger-react{
    z-index: 999999;
}

@media screen and (max-width: 992px) {
    .app-nav{
        &-box{
            width: 100vw;
        }
    }
}

@media screen and (max-width: 768px) {
    .app-nav{
        .contacts-mini{
            display: none;
        }
    }
}