.form-conect-wrap{
    @include flex($dir: row, $jc: space-between, $ai: flex-start);
    width: 100%;
}
.form-conect{
    @include flex($jc: flex-start, $ai: center);
    gap: 25px;
    &-label{
        width: 400px;
    }
    &__input{
        position: relative;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        background-color: #F4F4F4 ;
        border: none;
        color: #4C40F7;
        &_textarea{
            height: 200px;
        }
        &:focus-visible{
            border-color: #4C40F7;
        }
        outline-color: #4C40F7;
    }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .form-conect-wrap{
        @include flex($dir: row, $jc: center, $ai: flex-start);
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
    }
   
}

@media screen and (max-width: 768px) {
    .form-conect-wrap{
        margin: 10px;
    }

}

@media screen and (max-width: 576px) {
    .form-conect{
        @include flex($jc: flex-start, $ai: center);
        gap: 25px;
        &-label{
            width: 300px;
        }
    }
}